.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.input {
  text-align: center;
  font-family: inherit;
  width: 100%;
  height: 70%;
  font-size: 100%;
  grid-column: span 2;
  border: 0.3rem solid black;
  border-radius: 30px;
  margin-top: 1%;
}
.text {
  text-decoration: underline;
  text-decoration-color: red;
  text-align: center;
  grid-column: span 2;
}

.modal {
  position: absolute;
  z-index: 20;
  background: #fff;
  width: 35%;
  height: flex;
  border-radius: 45px;
  grid-column: 2;
  grid-row: 2;
  display: grid;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gold;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  border-bottom: solid black 5px;
  background-color: rgba(16, 0, 110, 0.5);
}

.modal__main {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-content: center;
}

.closeButton {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: rgb(255, 42, 42);
  font-size: 3vw;
  grid-column: span 2;
}

.closeButton:hover {
  color: red;
}

.button {
  border: 0.2rem solid black;
  border-radius: 10px;
  height: 80%;
  margin-top: 1%;
  font-family: inherit;
  font-size: 1rem;
  grid-column: span 2;
  width: 80%;
  cursor: pointer;
}

.button:hover {
  background: rgba(16, 0, 110, 0.5);
}
.success {
  background-color: green;
}
.success:hover {
  background-color: green;
}

.title {
  margin-top: 1%;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration: gold;
  cursor: pointer;
  padding: 5%;
  border-right: solid gold 0.2rem;
  border-bottom: solid rgb(255, 215, 0) 0.2rem;
  border-radius: 20px;
  grid-column: 1;
  grid-row: 1;
}
.textT {
  margin-top: 1%;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration: silver;
  cursor: pointer;
  margin: none;
  grid-column: 2;
  padding: 5%;
  border-left: solid purple 0.2rem;
  border-bottom: solid rgb(128, 0, 128) 0.2rem;
  border-radius: 20px;
  grid-row: 1;
}
.choosenL {
  background-color: rgba(255, 215, 0, 0.3);
}
.choosenR {
  background-color: rgba(128, 0, 128, 0.3);
}
.animate_show {
  -webkit-animation: pop-swirl 1s ease forwards; /*trigger the keyframe*/
  visibility: visible;
  z-index: 20;
  opacity: 1;
}
.animate_show ~ #overlay {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

@keyframes pop-swirl {
  0% {
    transform: scale(0) rotate(360deg) translate(0, 0);
    transform-origin: 0 0;
  }
  60% {
    transform: scale(0.8) rotate(-10deg) translate(-25%, -25%);
    transform-origin: 0 0;
  }
  100% {
    transform: scale(1) rotate(0deg) translate(-50%, -50%);
    transform-origin: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 80%;
    height: auto;
  }
  .modal__header {
    height: auto;
    font-size: 4vw;
  }
  .closeButton {
    font-size: 10vw;
    padding: 2px;
  }
  .modal__main {
    font-size: 3vw;
    grid-template-rows: auto;
  }
  .button {
    width: 100%;
    height: 60%;
    margin: 5% 0%;
  }
  .input {
    margin: 5% 0%;
    font-size: 3vw;
  }
}
@media screen and (max-height: 600px) {
  .modal__main {
    font-size: 1.5vw;
    grid-template-rows: auto;
  }
  .modal__header {
    font-size: 2vw;
  }
  .closeButton {
    font-size: 4vw;
  }
  .button {
    height: 5vw;
    margin: 0.4vw;
  }
  .input {
    height: 90%;
    font-size: 1.2vw;
    margin: 3%;
  }
}
